body{
    width: 1440px;
    height: 800px;
}
header{
    margin-left: 99px;
    margin-top: 24px;
    margin-bottom: 18px;
}
p{
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p1{
    display: inline-block;
    margin-left: 50px;
 }
.div1{
    display: inline-block;
    vertical-align: middle;
    margin-right: 600px;
}

.div2{
    display: inline-block;
    vertical-align: middle;
}
 
article{
    position: relative;
    margin-left: 100px;
    margin-top: 84px;
}

.div3{
    width: 235px;
    height: 310px;
    display: inline-block;
    vertical-align: middle;
  
}

.discover{
    padding-bottom: 5px;
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hot{
    color: #010101;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 37px;
}

.div4{
    width: 286px;
    height: 680px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    padding-left: 83px;

}

.booking{
    color: #343232;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
    padding-bottom: 9px;
}
.div5{
    padding-bottom: 56px;
}

.div6{
    width: 660px;
    height: 680px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    padding-left: 402px;

}
.div7{
    width: 950px;
    height: 680px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    padding-left: 721px;

}


































